.card{
    width: 50vw;
    height: 250px;
}

.local{
    display: flex;
    justify-content: baseline;
    align-items: baseline;  
}

.local img{
    width: 35px;
    height: 35px;
}

.local h1{
    margin-left:10px;
    font: 700 2.6rem Roboto;
    color: var(--temperature);
}

.data{
    display: block;
    justify-content: baseline;
    align-items: baseline;
    padding-left: 5px;
}

.data h3{
    margin-top: 10px;
    font: 500 2.0rem Roboto;
    color: var(--secundary-color);
}

.data h1{
    margin-top: 10px;
    font: 700 5.0rem Roboto;
    color: var(--temperature);
}

.periodo{
    margin-top: 10px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.periodo h1{
    font: 700 2.5rem Roboto;
    color: var(--temperature);
}

.periodo h3{
    font: 500 2.0rem Roboto;
    color: var(--secundary-color);
}


@media (max-width:700px){
    .card{
        width: 100vw;
        height: 250px;
    }
}