.page{
    width: 100vw;
    height: 100vh;
    background: var(--bg-primary);
    color: var(--primary-color);
}

.content{
  display: block;
  align-items: center;
  justify-content: center;
}

.menu{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
}

.menu button{
    height: 40px;
    width:  140px;
    border: 2px solid  var(--bg-secundary) ;
    background-color: var(--bg-secundary);
    color: var(--secundary-color);
    margin: 5px;
    font: 500 1.6rem Roboto;
    border-radius: 5px;
}

.corpo{
  display: grid;
  flex-flow: row wrap;
  align-items: center;
  background: var(--bg-primary);
  justify-content: center;
  padding-top: 20px;
}

.corpo .card{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  margin-top: 10px;
  background: rgb(75,79,190);
  background: linear-gradient(0deg, rgba(75,79,190,1) 0%, rgba(107,110,208,1) 100%);
  border: 0;
  padding: 20px;
}

