:root {
    font-size: 60%;

    --bg-primary : #F4F7F8;
    --bg-secundary: #4B4FBE;
    --primary-color: #030409;
    --secundary-color: #DEE4F5;
    --temperature:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100vh;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.8rem Roboto;
}

@media (min-width:700px){
    :root{
        font-size: 62.5%;
    }
}